- connectionURL : jdbc:mysql://127.0.0.1:3306/db_mesh?useUnicode=true&characterEncoding=utf-8
  driversClass : com.mysql.jdbc.Driver
  username : root
  password : 123456
  minPoolSize : 1
  maxPoolSize : 50
  idleTimeout : 30
  queryTimeout : 50
  insertUpdateTimeout : 10

- connectionURL : jdbc:mysql://127.0.0.1:3306/db_mesh?useUnicode=true&characterEncoding=utf-8
  driversClass : com.mysql.jdbc.Driver
  username : root
  password : 123456
  minPoolSize : 1
  maxPoolSize : 50
  idleTimeout : 30
  queryTimeout : 50
  insertUpdateTimeout : 10
  readonly : true
